[submodule "libraries/zeitgeber"]
	path = libraries/zeitgeber
	url = git@github.com:shaliulab/zeitgeber.git
[submodule "ethoscopy"]
	path = libraries/ethoscopy
	url = git@github.com:shaliulab/ethoscopy.git
[submodule "libraries/googleapi"]
	path = libraries/googleapi
	url = git@github.com:shaliulab/googleapi
[submodule "libraries/flyhostel-validation"]
	path = libraries/flyhostel-validation
	url = git@github.com:shaliulab/flyhostel-validation
[submodule "libraries/imgstore"]
	path = libraries/imgstore
	url = git@github.com:shaliulab/imgstore
[submodule "libraries/confapp"]
	path = libraries/confapp
	url = git@github.com:shaliulab/confapp
