[Unit]
Description=Sensor server
Wants=ntpd.service mysqld.service
After=ntpd.service network.target


[Service]
Type=simple
WorkingDirectory=/opt/sensors
ExecStart=fh-sensor --arduino-port /dev/ttyACM0 --html-port 80 --json-port 9001 --thread
RestartSec=5
Restart=always

[Install]
WantedBy=multi-user.target


